
/*ini adalah style jumbotron*/
.jumbotron {
	background-image: url(ieu.jpg);
	background-size: cover;
	height: 780px;
	margin-top: -120px;
}
.jumbotron .display-4 {
	color: white;
	margin-top: 200px;
}

.jumbotron p {
	color: white;
	font-size: 25px;
}

.jumbotron .btn {
	background-color: #0000cc;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 25px;
}

.fa-shopping-cart {
	color: #ffffff;
}

.fa-instagram-square {
	color: #3f729b;
}

.fa-twitter {
	color: #00acee;
}

/*ini adalah style carousel*/
.carousel-item {
	height: 670px;
}
.carousel-item .display-2 {
	margin-top: -370px;
}
.carousel-item .display-4 {
	margin-top: -370px;
	color: black;
}
.carousel-item .lead {
	color: black;
}

/*ini adalah style grid system*/
.col-sm p {
	font-size: 20px;
	font-family: serif;
}


.col-sm h5 {
	font-family: cursive;
}

/*ini adalah style footer*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
		margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
	padding: 70px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:#ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
	padding: 70px 0;
}

.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin-right:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff; 
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
}
}
@media(max-width: 574px){
	.footer-col {
	 width: 100%;
}
}


